 <!-- banner-text -->
<div class="banner-text">   
    <div class="container">
        <div class="banner_text_main">
          <h2>Delicious food from the <br> <span>Best Chefs For you.</span></h2>
          <div class="agileits_search">
            <form action="#" method="post">
              <input name="Search" type="text" placeholder="Enter Your Area Name" required="">
              <input type="submit" value="Search">
            </form>
          </div> 
        </div>
    </div>
</div>